#abttext{
    color: #CD8181;
    text-align: center;
    
}
body{
    background-color: #272B3A;
}
#backbut{
    width: 12vh;
    height: 6vh;
    margin-left: 1vh;
    margin-top: 1vh;
    font-size: 4vh;
    background-color: transparent;
    color: #CD8181;
    border-color: white;
}
#aboutmedesc{
    color:#CD8181;
    padding: 3vh;
    text-align: center;
}
#embed{
    width: 80%;
    height: 90vh;
    
}
#pdfdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
#backprojects{
    width: 12vh;
    height: 6vh;
    margin-left: 1vh;
    margin-top: 1vh;
    font-size: 4vh;
    background-color: transparent;
    color: #CD8181;
    border-color: white;
}
#skillstext{
    color: #CD8181;
    text-align: center;

}
.container{
    display: flex;
}
.column{
    flex: 1;
    padding: 20px;
    text-align: center;
    color: #CD8181;
}
.circles{
    display: flex;
    gap: 10px;
    
    padding-left: 30vh;
}
.circle{
    width: 1vh;
    height: 1vh;
    border-radius: 50%;
    border: .3vh solid black;
    padding-top: 1vh;
}
.filled{
    background-color: green;
    
}
#medidesc{
    line-height: 2;
}