@font-face{
    src: url(fonts/EduNSWACTCursive-Regular.ttf);
    font-family: cursive1;
}
#hi{
    background-color: grey;
    
}
#p1{
    color: rgb(143, 75, 13);
    font-family: cursive1;
    border-style: dashed;
    border-width: 3px;
    margin: auto;
    margin-left: auto;
    margin-right: 50px;
    
    display: flow-root;
}
#p2{
    color: #7410ad;
    border: 3px solid green ;
    
}
#name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 4px 4px;
    color:white;

}
#img1{
    float:left;
    margin-right: 10px;
    
}