
body{
    background-image: url(mountains.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#welc{
    text-align: center;
    margin-top: 30px;
    font-size: 300%;
    color: #CD8181;
    display: table;
    margin:auto;
    margin-top: 15px;
    
}
#intro{
    text-align: center;
    font-size: 130%;
    color: #CD8181;
}
#me{
    height: auto;
    width: 20%;
    margin-right: 100px;
    display:block;
    max-width: 100%;
    margin-top: 0px;
    border: solid;
    border-color: white;
    border-radius: 25px;
    border-width: 2px;
    float: right;
    position: relative;
    bottom: 60px;
}
#abtbut{
    width: 22vh;
    height: 10vh;
    margin-left: 300px;
    font-size: 4vh;
    background-color: transparent;
    color: #CD8181;
    border-color: white;
    
}
#resumbut{
    width: 22vh;
    height: 10vh;
    margin-left: 300px;
    font-size: 4vh;
    background-color: transparent;
    color: #CD8181;
    border-color: white;
}
#skibut{
    width: 22vh;
    height: 10vh;
    margin-left: 300px;
    font-size: 3vh;
    background-color: transparent;
    color: #CD8181;
    border-color: white;
}

